region = "us-east-1"
vpc_name = "Aviatrix"
vpc_cidr = "10.0.0.0/24"
vpc_azs = ["us-east-1a","us-east-1b"]
aviatrix_subnets = ["10.0.0.0/28","10.0.0.16/28"]
spoke_gw_subnets = ["10.0.0.32/28","10.0.0.48/28"]
ilb_subnets = ["10.0.0.64/28","10.0.0.80/28"]
s3_bucket_prefix = "aviatrix-controller-s3-backup"
